body {
    font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial,
        sans-serif;
}


/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after{
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body{
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
#root, #__next {
    isolation: isolate;
  }
   /* CSS Reset ここまで */
.google-fonts{
    font-family: "Noto Sans JP", sans-serif;
}
#header {
        display: flex;
        justify-content: space-between;
}

#header-logo {
	padding: 10px 0 10px 25px;
	opacity: 0;
	transition: all 1.0s;
}

#nav-pc{
    text-align: right;
    font-size: 14px;
    padding-top: 0;
}

 /* ナビゲーションのリンクの装飾設定 */
 #nav-pc > a {
    text-decoration: none;
    margin-left: 20px;
}
#nav-pc > a:link {
    color: #0d0d0d;
}
#nav-pc > a:visited {
    color: #0d0d0d;
}
#nav-pc > a:hover {
    color: #0d0d0d;
    text-decoration: underline;
}
#nav-pc > a:active {
    color: #0d0d0d;
}

/* メインビジュアル*/
#main-visual {
    padding: 0 30px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

#main-visual > img {
    max-width: 1250px;
    position: relative;
    z-index: 10;
}

#main-message {
    position: absolute;
    top: 0;
    left: 0;
    color: #434343;
    max-width: 1000px;
    height: 100%;
    width: 100%;
    z-index: 11;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#main-message > h1 {
    font-size: 65px;
    position: relative;
    margin: 0 0 0 0;
    
}
#main-message > h4{
    
    font-size: 20px;
    color: rgb(89, 89, 242);
    
}
#main-message > p{
    font-size: 20px;
    margin:0 0 40px 0;
}


#service {
    padding: 0;
    width: 100%;
    }

.section-inner{
    padding: 0;
    width: 100%;
    position: relative;
    }    

.section-inner .index-h2{
    position: absolute;
    font-size: 175px;
    color: rgb(255, 255, 255, 0.25);
    top: 0;
    margin: 0;
    font-weight: 400;
    line-height: 1;
}

.section-inner.img-left .index-h2{
    right: 50px;

}

.section-inner.img-right .index-h2{
    left: 50px;
    
}

.service-photo{
    position: absolute;
    width: 40%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.section-inner.img-left .service-photo{
    left: 0;
}

.section-inner.img-right .service-photo{
    right: 0;
}

.service-text{
    width: calc(60% + 50px);
    min-height: 600px;
    background-color: rgb(155, 201, 242);
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-inner .img-left .service-text{
    margin-left: calc( 40% - 50px );
    padding: 50px 50px 50px 100px;
}   
.section-inner .img-right .service-text{
    margin-right: calc( 40% - 50px );
    background-color: #bbbcf2;
    padding: 50px 100px 50px 50px;
}
p > .service-top{
   font-size:100px;
    text-align: right;
}
